@font-face {
    font-family: 'Arb';
    src: url('./Arb.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Balt';
    src: url('./Balt.ttf');
}

body {
    margin: 0;
    height: 100vh;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 230px;
}

.menu-container {
    display: grid;
    grid: 1fr 1fr / 1fr 1fr;
    gap: 20px;
}

.menutile > h3 {
    margin: 0;
    font-family: 'Arb';
}

.menutile {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    padding: 25px 10px;
    border-radius: 15px;
    width: 250px;
}

.contact-info > img {
    height: 400px;
    width: 550px;
}

.menutile:hover {
    background-color: darkslategrey;
}

.menutile > p {
    width: 75%;
    text-align: center;
    font-family: 'Balt';
}

.maincopy {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 30px;
    border-radius: 20px;
}

.maincopy > h1 {
    color: white;
    font-size: 40px;
    font-family: 'Arb';
}

.maincopy > p {
    color: white;
    font-size: 25px;
    text-align: center;
    width: 85%;
    font-family: 'Balt';
}

.maincopy > img {
    border-radius: 50%;
    margin: 50px 0;
    width: 400px;
}

.homeDivider {
    width: 30%;
    height: 1px;
    background-color: white;
    margin: 30px 0;
}

.menuDivider {
    width: 30%;
    height: 1px;
    background-color: white;
    margin: 30px 0;
}

.tileDivider {
    width: 2rem;
    height: 1px;
    background-color: white;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.phone, .email {
    color: white;
    font-size: 25px;
    font-family: 'Balt';
}

.email {
    margin-bottom: 20px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
    background-color: black;
    color: white;
    row-gap: 15px;
    padding-top: 3rem;
    padding-bottom: 1.2rem;
    width: 100%;
}

h1 {
    margin: 0;
    font-size: 50px;
    font-family: 'Arb';
}

nav {
    display: flex;
    gap: 35px;
}

nav > a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Balt';
}

footer {
    background-color: black;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    font-size: 17px;
    font-family: 'Balt';
}